fieldset {
    padding-top: 40px;
    border: 2px solid #708090;
    width: 400px;
    height: 500px;
    margin:0 auto;

}
input {
    margin: 5px;
    outline: none;
}

button {
    width: 80px;
    height: 30px;
    background-color: #E0FFFF;
    margin-top: 40px;
    margin-left: 150px;
}

label {
    font-size: medium;
    text-transform: uppercase;
}